Django
# Python adapter for PostgreSQL
psycopg
# Dotenv support for Python
python-dotenv
# Requests
djangorestframework
# Password hasher
argon2-cffi
# JSON Web Token authentication
djangorestframework-simplejwt[crypto]
# Google OAuth
google-auth
# Stripe payments API
stripe

